.colorNav{ 
    
    background-color: white;
    padding: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-weight: light;
    font-size: 20px;
    font-family: "Unica one", sans-serif;
    

}



body {
    padding-top: 300px;
}


.bi-instagram{
    color:  rgb(195, 99, 100);
    padding: 15px 32px; /* Spaziatura interna */
    text-align: center; /* Testo centrato */
    text-decoration: none; /* Nessuna sottolineatura */
    display: inline-block; /* Visualizzazione inline-block */
    font-size: 20px; /* Dimensione del testo */
    margin: 4px 2px; /* Margine */
    cursor: finger; /* Puntatore del mouse */
    border-radius: 12px; /* Angoli arrotondati */
    transition: transform 0.2s; 
}

.bi-instagram:hover{
    transform: scale(1.2);
    color: black;
}


h1{
    font-size: 50px;
    letter-spacing: 8px;
    font-family: "Unica one", sans-serif;
    
    
}

.titolo{
    font-size: 50px;
    letter-spacing: 1px;
    font-family: "Unica one", sans-serif;
  
    
}

.nero{
text-shadow: black 3px 0 8px;
}

h3, h5, h6{
font-family: "Unica one", sans-serif;
/* font-style: oblique; */


}

h2{
font-family: "Unica one", sans-serif;
font-weight: 400;

color: black;
}

h4{
    font-family: "Unica one", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 23px;
  }


  .menu{
    font-size: 30px;
    letter-spacing: 0px;
    font-family: "Unica one", sans-serif;
    font-weight: light;
    
}

  .imgHeader{
    height: 845px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    /*background-attachment: fixed;*/
    margin-top: 120px;
    
   
    

}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050; /* Impostiamo un z-index per la navbar, garantendo che stia sopra l'immagine */
}

body {
    padding-top: 120px; /* Margine superiore per l'intero corpo della pagina (uguale all'altezza della navbar) */
}

.imgHeader2{
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;
    
    

}


.imgHeader3{
    max-width: 100%; /* Rende l'immagine responsiva */
    height: auto;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;
}
    

.imgHeader4{
    height: 650px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;
     

}









@media (max-width: 1200px) {
    .imgHeader {
        height: 700px; /* Adjust height for medium-sized screens */
    }
   
}

@media (max-width: 992px) {
    .imgHeader {
        height: 600px; /* Adjust height for smaller screens */
    }
}
    

@media (max-width: 768px) {
    .imgHeader {
        height: 500px; /* Adjust height for mobile screens */
    }
    
}

@media (max-width: 576px) {
    .imgHeader {
        height: 400px; /* Adjust height for very small screens */
    }

    
}

@media (max-width: 1200px) {
    .imgHeader2 {
        height: 700px; /* Adjust height for medium-sized screens */
    }
   
}

@media (max-width: 992px) {
    .imgHeader2 {
        height: 600px; /* Adjust height for smaller screens */
    }
}
    

@media (max-width: 768px) {
    .imgHeader2 {
        height: 500px; /* Adjust height for mobile screens */
    }
    
}

@media (max-width: 576px) {
    .imgHeader2 {
        height: 200px; /* Adjust height for very small screens */
    }

    
}



@media (max-width: 1200px) {
    .imgHeader3 {
        height: 700px; /* Adjust height for medium-sized screens */
    }
   
}

@media (max-width: 992px) {
    .imgHeader3 {
        height: 600px; /* Adjust height for smaller screens */
    }
}
    

@media (max-width: 768px) {
    .imgHeader3 {
        height: 300px; /* Adjust height for mobile screens */
    }
    
}

@media (max-width: 576px) {
    .imgHeader4 {
        height: 400px; /* Adjust height for very small screens */
    }

    
    @media (max-width: 1200px) {
        .imgHeader4 {
            height: 700px; /* Adjust height for medium-sized screens */
        }
       
    }
    
    @media (max-width: 992px) {
        .imgHeader4 {
            height: 600px; /* Adjust height for smaller screens */
        }
    }
        
    
    @media (max-width: 768px) {
        .imgHeader4 {
            height: 500px; /* Adjust height for mobile screens */
        }
        
    }
    
    @media (max-width: 576px) {
        .imgHeader4 {
            height: 300px; /* Adjust height for very small screens */
        }
    
        
    }
}

/* sezione menu kitchen */

body {
    font-family:"unica one", sans-serif; ;
    background-color: white;
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: center; /* Centrato */
}
h1 {
    color: #2c3e50;
}
.menu-section {
    margin: 20px 0;
}
.category {
    margin: 30px 0;
}
.category img {
    width: 50px; /* Dimensione dell'immagine */
    height: 50px;
    display: block;
    margin: 0 auto 10px; /* Centrato */
}
.menu-item {
 
    padding: 10px 0;
}
.menu-item h2 {
    margin: 0;
    font-size: 1.5em;
}
.menu-item p {
    margin: 5px 0;
    color: #7f8c8d;
}
.price {
    font-weight: bold;
}


.menu-item h4 {
    margin: 5px 0;
    color: black;
}

.menu-item2 h4 {
    margin: 5px 0;
    color: #7f8c8d;
}

@media (max-width: 600px) {
    .menu h1 {
        font-size: 22px; /* Dimensione più piccola per dispositivi piccoli */
    }
}

@media (max-width: 600px) {
    .menu-item2 h4 {
        font-size: 12px; /* Dimensione più piccola per dispositivi piccoli */
    }
}
/* sezione menu bevande  */


.beverage-menu {
    text-align: center; /* Centra il titolo */
    margin: 20px 0;
}

.beverage-category {
    margin: 20px 0; /* Margine per la categoria */
}

.beverage-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Due colonne uguali */
    gap: 20px; /* Spazio tra le righe */
    padding: 10px;
    max-width: 800px; /* Larghezza massima per centrare il contenuto */
    margin: 0 auto; /* Centra il grid */
}

.beverage-item h4 {
    margin: 0; /* Rimuove il margine per il titolo */
}

.beverage-item p {
    margin: 0; /* Rimuove il margine per il costo */
    color: black; /* Colore per il prezzo */
}

.beverage-item2 h4 {
    margin: 0; /* Rimuove il margine per il titolo */
    color: #7f8c8d;
}






 /* sezione galleria  */

 .gallery {
    text-align: center; /* Centra il titolo */
    margin: 20px 0;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonne */
    gap: 15px; /* Spazio tra le immagini */
    padding: 10px;
}

.gallery-item img {
    width: 100%; /* Rende l'immagine responsiva */
    height: auto; /* Mantiene le proporzioni */
    border-radius: 8px; /* Angoli arrotondati */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra leggera */
}








/* Modifica la posizione del bottone dell'hamburger */
.navbar-toggler {
    position: absolute;
    top: 30px; /* Regola la posizione verticale */
    right: 20px; /* Distanza da destra, regolato per allontanarla dalla parte destra */
  }
  
  /* Media query per dispositivi molto piccoli (ad esempio, schermi con larghezza <= 576px) */
  @media (max-width: 576px) {
    .navbar-toggler {
      right: 20px; /* Spostamento leggermente più a sinistra */
    }
  }
  